body {
  margin: 0px;
  padding: 0px;
  font-family: Quicksand, sans-serif;
  background-color: rgb(77, 77, 77);
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  width: 100%;
  box-sizing: border-box;
}

#page-logo a {
  font-family: "oleo script";
  font-size: 50px;
  color: #60aea6;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  padding: 10px;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

section ul{
  flex-direction: column;
}

nav li a {
  margin: 20px;
  color: #60aea6;
  font-family: raleway;
  padding: 10px;
  border-radius: 4px;
  font-weight: 500;
}

/* main content starts */
main li img {
  height: 280px;
  width: 300px;
  object-fit: cover;
}

main ul {
  width: 1200px;
  margin: 40px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

main li {
  display: flex;
  align-items: top;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 1px 1px 6px rgb(0, 0, 0);
  border-radius: 6px;
  overflow: hidden;
  margin: 10px 0;
}

main li:nth-of-type(3){
  grid-column: 1/ span 2;
}

#item-content {
  padding: 0 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

footer {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

footer ul {
  align-items: center;
}

#ig {
  height: 70px;
  width: 70px;
}

#fb {
  height: 100px;
  width: 100px;
  margin: 0 50px;
}

#action{
  /* height: 120px;
display: flex;
justify-content: flex-end;
align-items: end; */
text-align: right;
}


#action a{
  color: aqua;
  padding: 6px;
  
}

#action a:hover{
  color: black;
}